/* FONT FACE */

@font-face {
    font-family:'blackjackregular';
    src: url('fonts/blackjack-webfont.eot');
    src: url('fonts/blackjack-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/blackjack-webfont.woff') format('woff'),
    url('fonts/blackjack-webfont.ttf') format('truetype'),
    url('fonts/blackjack-webfont.svg#blackjackregular') format('svg');
}


/* TITRES */


h1
{
    font-size: 3.3em;
    color: darkblue;
    text-align: center;
    font-family: 'blackjackregular', Arial, serif;
    padding-bottom: 1%;
    margin-bottom: 1%;
}

h2
{
    font-size:1.7em;
    color: black;
    text-align: left;
    font-family: Arial, serif, sans-serif;
    text-decoration: underline
}



/* ATTRIBUTS DES ID */

body
{
    background: url('imgcss/bkg.jpg');
    font-family: 'Trebuchet MS', Arial, sans-serif;
    color: #181818;
    margin: 0px;
}

#mainwrapper
{
    font-size:1.3em;
    font-family: sans-serif, arial, serif;
    background-image: url('');
    background-attachment: scroll;
    background-repeat: repeat;
    background-position: center;
    margin:auto;
    width:100%;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}



#liseret
{
    background-color: grey;
    height:5000px;
    width:10%;
    margin:0px;
}

section
{
    display:flex;
    flex-direction: column;
    width:90%;
    margin-left: 3%;
    margin-right: 1%;
}

header
{
    display:flex;
    align-items: center;

}

#brief
{
    text-align:center;
    font-weight: bold;
    font-family: 'blackjackregular';
    margin:auto;
    flex-wrap: nowrap;
}

#bloc_infos
{
    display:flex;
    justify-content: space-between;
    flex-wrap: nowrap;

}


/* AUTRES */

.gras
{
    font-weight: bold
}

em, strong
{
    font-style: normal;
    font-weight: normal;
}

a:visited, a
{
    color: black;
}

.ombre
{
    box-shadow: 15px 8px 10px black;
    border: 5px yellow groove;
}
